@media (min-width: 992px) and (max-width: 2880px) {            
    .box{
        padding-left: 2%;

    }
    #h1{
        text-align:center;
       font-family:'Courier New', Courier, monospace;
       margin-right: 20px;
    }
    #div1{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        width: 350px;
        height: fit-content;
        float: left; 
        box-sizing: border-box;     
        background-color: grey; 
        border: 2px solid black;
        margin: 20px;
        position: relative;      
    }
    #div2{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        width: 350px;
        height: fit-content;
        float: left; 
        box-sizing: border-box;     
        background-color: grey; 
        border: 2px solid black;
        margin: 20px;
        position: relative;
    }
    #div3{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        width: 350px;
        height: fit-content;
        float: left; 
        clear: left;;
        box-sizing: border-box;     
        background-color: grey; 
        border: 2px solid black;
        margin: 20px;
        position: relative;
        clear: right;
    }
    #p1{
        padding-right: 0cm;
        padding-left: 5px;
        }
    div #h31{
        text-align: left;
        margin-top: 0%;
        margin-left: 73.9% ;
        background-color: pink;
        padding: 5px 5px 5px 5px;
        width:fit-content;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }
    #h32{
        text-align: center;
        margin-top: 0%;
        margin-left: 79.2%;
        margin-right: 0%;
        margin-block-end: 0%;
        background-color: brown;
        padding: 5px 5px 5px 5px;
        width: 60px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }
    #h33{
        text-align: center;
        margin-top: 0%;
        margin-left: 79.2%;
        margin-right: 0%;
        margin-block-end: 0%;
        background-color: rgb(224, 224, 186);
        padding: 5px 5px 5px 5px;
        width: 60px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }
}
@media (min-width: 768px) and (max-width: 991.9px){
    .box{
        padding-left: 2%;

    }
    #h1{
        text-align:center;
       font-family:'Courier New', Courier, monospace;
       margin-right: 20px;
    }
    #div1{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        width: 350px;
        height: fit-content;
        float: left; 
        box-sizing: border-box;     
        background-color: grey; 
        border: 2px solid black;
        margin: 20px;
        position: relative;
        
    }
    #div2{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        width: 350px;
        height: fit-content;
        float: left; 
        box-sizing: border-box;     
        background-color: grey; 
        border: 2px solid black;
        margin: 20px;
        position: relative;
        
    }
    #div3{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        width: 740px;
        height: fit-content;
        float: left; 
        box-sizing: border-box;     
        background-color: grey; 
        border: 2px solid black;
        margin: 20px;
        position: relative;              
    }
    #p1{
        padding-right: 0cm;
        padding-left: 5px;
        }
    div #h31{
        text-align: left;
        margin-top: 0%;
        margin-left: 73.9% ;
        background-color: pink;
        padding: 5px 5px 5px 5px;
        width:fit-content;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }
     div #h32{
        text-align: center;
        margin-top: 0%;
        margin-left: 79.2%;
        margin-right: 0%;
        margin-block-end: 0%;
        background-color: brown;
        padding: 5px 5px 5px 5px;
        width: 60px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }
    div #h33{
        text-align: center;
        margin-top: 0%;
        margin-left: 90.25%;
        margin-right: 0%;
        margin-block-end: 0%;
        background-color: rgb(224, 224, 186);
        padding: 5px 5px 5px 5px;
        width: 60px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }
}
@media (max-width: 767px) {            
    .box{
        padding-left: 2%;

    }
    #h1{
        text-align:center;
       font-family:'Courier New', Courier, monospace;
       margin-right: 20px;
    }
    #div1{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        width: 350px;
        height: fit-content;
        float: left; 
        box-sizing: border-box;     
        background-color: grey; 
        border: 2px solid black;
        margin: 20px;
        position: relative;      
    }
    #div2{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        width: 350px;
        height: fit-content;
        float: left; 
        box-sizing: border-box;     
        background-color: grey; 
        border: 2px solid black;
        margin: 20px;
        position: relative;
    }
    #div3{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        width: 350px;
        height: fit-content;
        float: left; 
        box-sizing: border-box;     
        background-color: grey; 
        border: 2px solid black;
        margin: 20px;
        position: relative;
    }
    #p1{
        padding-right: 0cm;
        padding-left: 5px;
        }
    div #h31{
        text-align: left;
        margin-top: 0%;
        margin-left: 73.9% ;
        background-color: pink;
        padding: 5px 5px 5px 5px;
        width:fit-content;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }
    #h32{
        text-align: center;
        margin-top: 0%;
        margin-left: 79.2%;
        margin-right: 0%;
        margin-block-end: 0%;
        background-color: brown;
        padding: 5px 5px 5px 5px;
        width: 60px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }
    #h33{
        text-align: center;
        margin-top: 0%;
        margin-left: 79.2%;
        margin-right: 0%;
        margin-block-end: 0%;
        background-color: rgb(224, 224, 186);
        padding: 5px 5px 5px 5px;
        width: 60px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }
}